{% extends layout %}

{% block content %}
    <h2>Rezultat</h2>
    <p>Aţi răspuns corect la {{ correctCount }} întrebări din {{ totalCount }}.</p>
    <p><a href="/">Încercaţi din nou</a> | <a href="/results">Rezultate</a></p>
{% endblock %}