{% extends layout %}

{% block content %}
    <h2>Rezultat</h2>
    <p>Aţi răspuns corect la {{ correctCount }} întrebări din {{ totalCount }}.</p>
    <p><a href="{{ app.request.baseUrl }}/">Încercaţi din nou</a> | <a href="{{ app.request.baseUrl }}/results">Rezultate</a></p>
{% endblock %}